.css-1xarl3l {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
margin-top: -5em;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}

div.block-container.css-z5fcl4.e1g8pov64{
margin-top: -5em;
}
/* Path: static\style.css */
